<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        Step 1. Upload source file to server
      </div>
      <div class="panel-body">
        Upload processing
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Step 2. Setting output
      </div>
      <div class="panel-body">
        < Setting output details>
      </div>
    </div>
  </div>
</div>